.cwv-table {
    padding: 1rem;
}
.cwv-table table {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
}
.cwv-table table th, .cwv-table table td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.pagination {
    padding: 0.5rem;
  }

  .cwv-tracking-action {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}